<div class="bento-grid">
    <div class="bento-box">
        @* <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink> *@
        <tienyoung.github.io.Pages.Home />
    </div>
    <div class="bento-box">
@*         <NavLink class="nav-link" href="counter">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
        </NavLink> *@
        <tienyoung.github.io.Pages.Counter />
    </div>
    <div class="bento-box">
@*         <NavLink class="nav-link" href="weather">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink> *@
        <tienyoung.github.io.Pages.Weather />
    </div>
    <div class="bento-box">
@*         <NavLink class="nav-link" href="bloglinks">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BlogLinks
        </NavLink> *@
        <tienyoung.github.io.Pages.BlogLinks />
    </div>
</div>